html {
    margin: 0;
    padding: 0;
    font-family: 'Microft Yahei';
}

.td-wrap {
    width: 100%;
    height: 600px;
    font-size: 14px;
    color: #FFF;
   
    /* background: linear-gradient(to bottom, #4594fa, #54affc); */
    background: #1F9EFB;
}

.svg-bg {
    position: relative;
    left: 50%;
    height: inherit;
}

.svg-secound-img {
    position: relative;
    z-index: 99999999;
    height: 37%;
    left: 20%;
}


.td-content {
   position: relative;
   top: -78%;
   left: 15%;
   max-width: 710px;
}

.td-content > span:nth-child(1) {
    display: block;
    font-size: 5em;
}

.td-content > span:nth-child(2) {
    position: relative;
    top: 10px;
    font-size: 5em;
    color: #666;
}

.td-btn-position {
    position: absolute;
    top: 45%;
    left: 15%;
}

@media(max-width: 1000px) {
    .td-btn-position {
        position: absolute;
        top: 50%;
        left: 15%;
    }
}

@media(max-width: 1200px) {
    .td-btn-position {
        position: absolute;
        top: 60%;
        left: 5%;
    }

}

@media(max-width: 1400px) {
    .td-btn-position {
        position: absolute;
        top: 60%;
        left: 15%;
    }

    .svg-bg {
        position: relative;
        left: 37%;
        height: inherit;
    }
    
    .svg-secound-img {
        position: relative;
        z-index: 99999999;
        height: 37%;
        left: -2%
    }
}

@media(max-width: 700px) {
    .td-btn-position {
        position: absolute;
        top: 50%;
        left: 15%;
    }
}

.td-button {
    width: 110px;
    height: auto;
    padding: 15px;
    border: solid 2px #FFF;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    /* transition: 2s; */
    /* background: #FFF; */
}

.td-button:hover {
    cursor: pointer;
    background: #FFF;
    color: #1F9EFB;
    transition: 0.5s;
}





.td-button a {
    font-size: 14px;
    color: #FFF;    
}

.td-button a:link {
    text-decoration: none;
}

/**/
.ityped-cursor {
    font-size: 2.2rem;
    color: #888;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
/**/